.article {

}

.article__figure {
  overflow: hidden;

  @extend .w-100;
  @extend .link;
  @extend .br4;
  @extend .shadow2;
}

.article__img {
  height: 250px;
  object-fit: cover;
  transition: filter .3s ease-in;

  @extend .w-100;
  @extend .br4;
  @extend .shadow2;
}

.article__img--loading {
  filter: blur(20px);
}

.article__rich-text {

}

.article__rich-text  {
  p {
    @extend .mb4;
  }
}

.article__rich-text  {
  img {
    max-width: 100%;
    width: 400px;

    @extend .mla;
    @extend .mra;
    @extend .shadow2;
  }
}

.article__rich-text  {
  iframe {
    max-width: 100%;
    width: 800px;

    @extend .db;
    @extend .mla;
    @extend .mra;
    @extend .shadow2;
  }
}
